*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#main{
    height: 100%;
    width: 100%;
    position: relative;
}
nav{
    /* height: 100px; */
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    border: 2px solid #dadada;
}
nav h2{
    font-size: 2.5vw;
    font-weight: 700;
    color: #FF735C;
}
nav h4{
    font-size: 1.25vw;
    font-weight: 700;
}
nav button{
   font-size: 1.1vw;
   padding: 0.9vw 1.4vw ;
   background-color: #385A64;
   border: none;
   color: white;
   border-radius: 5px;
   cursor: pointer;
   font-weight: 550;
   transition: all 0.5s;
  

}
nav button:hover{
   
   background-color: #3f5055cc;
  
  

}
a{
    text-decoration: none;
    color: black;
    transition: all 0.5s;
}
a:hover{
    color: #FF735C;
}
.navItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4vw;
}
nav i {
    font-size: 1.7vw;
    font-weight: 700;
    display: none;
}

section{
    /* height: calc(100% - 100px); */
    height: 85%;
    /* background-color: antiquewhite; */
    width: 100%;
    display: flex;
    /* background: linear-gradient(to right, red , blue); */
}
.left{
    /* background-color: crimson; */
    width: 50%;
    height: 100%;
    padding: 4vw 5vw;

}
.left h1{
   font-size: 4vw;
   line-height: 5vw;

}
.left span{
   color: #FF735C;

}
.left p{
    font-size: 1.34vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    width: 90%;
  
}
.left button{
   font-size: 1.5vw;
   padding: 1.1vw 2vw ;
   background-color: #FF735C;
   border: none;
   color: white;
   border-radius: 3px;
   cursor: pointer;
   font-weight: 550;
   transition: all 0.5s;
  
}
.left button:hover{
  
   background-color: #dd6755;
  
}
.right{
    /* background-color: blueviolet; */
    width: 50%;
    height: 100%;
}
.right img{
    height: 99%;
    width: 100%;
}
.active{
    color: #FF735C;
}




@media (max-width:600px) {
    nav{
        color: #fff;
        padding: 0 6vw;
        height: 60px;
    }
    nav h2{
        font-size: 8vw;

    }
    nav h4{
        font-size: 3vw;
        display: none;
    }
    a{
        color: white;
    }
    nav i {
        display: initial;
        font-size: 6vw;
        color: black;
    }
    nav button{
        display: none;
    }
    section{
        height: calc(100% -60px);
        display: flex;
        flex-direction: column;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
    .left h1{
        font-size: 9vw;
        line-height: 10vw;
    }
    .left p{
        font-size: 3.5vw;
        /* line-height: 10vw; */
        margin-top: 5vw;
        margin-bottom: 5vw;

    }
    .left button{
        font-size: 4.5vw;
        padding: 1.9vw 3vw;
    }
    .right img{
        width: 100%;
    }
}